.App {
  width: 80%;
  /* height: 100%; */
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  background-color: #778899
 
}
.headerbtns{
  position: absolute;
  top:5%;
  right: 15%;
}
.logo{
  position: absolute;
  top:4.5%;
  left: 12.5%;
  width: 110px;
  height: 110px;
  background: url(../images/logo.jpg);
  background-size: cover;
}
.logo2{
  position: absolute;
  top:65%;
  right:15%;
  width: 235px;
  height: 45px;
  background: url(../images/logo2.png);
  background-size: cover;
}