.contact{
    margin: 5% 0 0 10%;
    
    text-align: left;
}
.contact h3{
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.contact textarea {
    font-size: 150%;
    width: 80%;
    min-height: 160px;
    /* margin: 20px 0; */
    line-height: 1.6;
    font-family: 'open sans', arial, sans-serif;
}
.contact input{
    font-size: 150%;
    margin: 20px 0;
    line-height: 1.6;
    padding-left: 0;
}
.contact button{
    margin-top: 2%;
    padding: 5px 10px;
    text-transform: uppercase;
}
.adress{
    text-align: left;
    margin-top: 5%;
}
.error{
    color: red;
    text-decoration: wavy;
    font-weight: bold;
}
.tele{
    text-align: left;
    margin-left: 5vw;
    font-size: 100%;
    font-weight: 600;
}
.correctMessage{
    text-align: center;
    color: greenyellow;
    font-weight: 700;
}