.footer{
    display: flex;
    justify-content: space-around;
    padding: 0 2vw;
    color:#00008B;
    font-weight: 700;
}
.adress{
    display: inline-block;
    margin-right: 4vw;
}
.links a {
    margin-left: 1vw;
    text-decoration: none;
    color: blue;
}
a:link {
    color: blue;
  }

.fa {
    padding: 10px;
    font-size: 180%;
    width: 2vw;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .reserved{
      margin-left: 2vw;
  }