.apiData{
    width: 80%;
    text-align: justify;
    padding-left: 15vw;
    
    
}
.descText{
text-align: justify;
}

.foto1{
    background: url(../images/main1.jpg);
}

.foto2{
    background: url(../images/main2.jpg);
}
.foto3{
    background: url(../images/main3.jpg);
}
.logoMain{
    position: relative;
    top:0;
    left: 0;
    width: 70px;
    height: 70px;
    background: url(../images/logo.jpg);
    background-size: cover;
}