.apiData{
    width: 80%;
    text-align: justify;
    padding-left: 15vw;
    
}
.descText{
text-align: justify;
}

.foto1{
    background: url(../images/main1.jpg);
}

.foto2{
    background: url(../images/main2.jpg);
}
.foto3{
    background: url(../images/main3.jpg);
}