.main{
    display: flex;
}
.link{
    width: 25%;
    margin: 0 auto;
    text-align: center;
   }
.content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}   

ul{
    list-style: none;
    text-align: left;
    margin: 1vh auto;
}
li{
    
    height: 7vh;
    padding-left: 1vw;
    cursor: pointer;
    font-size: 150%;
}
li:hover{
    transform: translateX(20px);
}
li:active{
    color: white;
    border-left: 10px red solid;
}
.clock{
    margin-top: 5vh;
}