.navigation{
    width: 25%;
    margin: 0 auto;
    text-align: center;
   
}
ul{
    list-style: none;
    text-align: center;
    margin: 1vh auto;
}
li{
    
    height: 7vh;
    cursor: pointer;
    font-size: 150%;
}
.clock{
    margin-top: 5vh;
}