.main{
    display: flex;
}
.link{
    width: 25%;
    margin: 0 auto;
    text-align: center;
   }
.content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}   

ul{
    list-style: none;
    text-align: left;
    margin: 1vh auto;
}
.link li{
    
    height: 7vh;
    padding-left: 5px;
    cursor: pointer;
    font-size: 150%;
    
}
a{
    text-decoration: none;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.link li:hover{
    transform: translateX(20px);
}
.active{
    color: white;
    border-left: 8px red solid;
}
.clock{
    margin-top: 5vh;
}