span.select{
    display: inline-block;
    margin-top: 5%;
}
.chooseCity{
    font-size: 200%;
}
.description{
text-align: justify;
}
.foto{
    overflow: hidden;
    margin: 5% auto;
    width: 90%;
    height: 58vh;
    background-color: blue;
}