span.select{
    display: inline-block;
    margin-top: 5%;
}
.chooseCity{
    font-size: 200%;
    margin-top: 20vh;
}
.description{
text-align: justify;
margin-bottom: 10%;
padding: 1%;
}
.descText{
    padding: 1%;
    background-color: lightgray;
    border: 0.5px #00008B solid;
    
}
.foto{
    overflow: hidden;
    image-orientation: initial;
    margin: 5% auto;
    width: 90%;
    height: 58vh;
    background-color: lightgray;
    
}
.select{
    font-size: 150%;
}
select {
        margin-left: 2vw;
        font-size: 150%;
}
/* .contactWithUs{
    position: fixed;
    bottom: 10%;
    right: 5%;
    padding: 1%;
    cursor: pointer;
    background-color: lightgray;
    border: 2px solid red;
    } */
.iframe{
    width: 100%;
    text-align: center;
}