.product{
    margin: 10vh auto;
    padding: 2%;
    border: 1px solid red;
    list-style: none;
}
p.name{
    font-size: 150%;
    margin: 5% auto;
}
.basket{
    position: fixed;
    right: 3%;
    top: 5%;
    padding: 1%;
    background: #00008B;
    font-size: 100%;
    color: white;
   

}