.product{
    margin: 10vh auto;
    padding: 2%;
    border: 1px solid red;
    list-style: none;
    background-image: url({foto});
}
p.name{
    font-size: 150%;
    margin: 5% auto;
}
.basket{
    position: fixed;
    right: 3%;
    top: 5%;
    padding: 1%;
    background: rgba(0, 0, 139, 0.712);
    font-size: 100%;
    color: white;
   

}
